---
permalink: "index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>CandiDatos 2023 | Red Ciudadana</title>
{% endblock %}

{% block content %}
   
{% endblock %}

{% block body_javascripts %}

{% endblock %}