{% extends "src/base.njk" %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
        

{% block content %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image:url('/elementos/SLIDER/WEB_CANDIDATOS_2023-04.png');background-size:cover">
			<div class="container">
				<div class="row h-100 justify-content-center mb-50 mt-50">
					<div class="col-lg-8 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4 text-center justify-content-center">
                        <img style="width:170px; height:160px; margin:auto" src="/elementos/ICONOS/WEB_CANDIDATOS_2023-30.png">
						<h1 class="display-4 text-white" style="font-weight: 800">{{title}}</h1>
						<div>
						</div>
					</div>

				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>
        <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="background-color:#f1f2fa">
                <div class="mx-6 mb-40">
                    <div class="row px-2" style="justify-content:space-between">
                        <p style="margin-left:5px"><a href="/distritos/index.html">Distritos</a> <i class="fa-solid fa-chevron-right"></i> <a style="pointer-events: none" href="">{{title}}</a></p>
                        <a class="button">Compartir <i class="fas fa-share-alt"></i></a>
                    </div>
                </div>
                <div class="bg-white mx-6">
                    <div class="row">
                        <div class="col-xl-4 col-sm-12 px-4">
                            <div class="px-4 py-6">
                                <p class="texto-verde">Guatemala</p>
                                <h1 class="title">{{title}}</h1>
                                <img src="{{mapa}}">
                                <br>
                                <h1 class="title">Índice</h1>
                                <br>
                                <ul>
                                    <li class="texto-verde list-dist d-flex">1. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-06.png"> &nbsp<a href="#1" class="txt-verde">Perfil de distrito</a></li>
                                    <li class="texto-verde list-dist d-flex">2. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-07.png"> &nbsp<a href="#2" class="txt-verde">Perfil Demografico (2022)</a></li>
                                    <li class="texto-verde list-dist d-flex">3. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-08.png"> &nbsp<a href="#3" class="txt-verde">¿Qué se vota en el distrito?</a></li>
                                    <li class="texto-verde list-dist d-flex">4. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-09.png"> &nbsp<a href="#4" class="txt-verde">Historial de Elección</a></li>
                                    <li class="texto-verde list-dist d-flex">5. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-10.png"> &nbsp<a href="#5" class="txt-verde">Liderazgos históricos </a></li>
                                    <li class="texto-verde list-dist d-flex">6. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-11.png"> &nbsp<a href="#6" class="txt-verde">Diputados Distritales</a></li>
                                    <li class="texto-verde list-dist d-flex">7. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-12.png"> &nbsp<a href="#7" class="txt-verde">Alcalde Municipal </a></li>
                                    <li class="texto-verde list-dist d-flex">8. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-13.png"> &nbsp<a href="#8" class="txt-verde">Partidos ganadores históricos </a></li>
                                    <li class="texto-verde list-dist d-flex">9. &nbsp <img style="width:20px;height:20px" src="/elementos/iconos_perfil/ICONO-14.png"> &nbsp<a href="#9" class="txt-verde">Participación histórica de mujeres </a></li>
                                </ul>

                            </div>
                        </div>

                        <div class="col-xl-8 col-sm-12 border-left distritos" >

                            <div class="py-4 px-4" id="1">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-06.png"><h1 class="title">Perfil de distrito</h1>
                                </div>
                                <p>{{perfildistrito | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="2">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-07.png"><h1 class="title">Perfil Demografico (2022)</h1>
                                </div>
                                <p>{{perfildemografico | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="3">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-08.png"><h1 class="title">¿Qué se vota en el distrito?</h1>
                                </div>
                                <p>{{razonvoto | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="4">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-09.png"><h1 class="title">Historial de Elección</h1>
                                </div>
                                <p>{{historialeleccion | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="5">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-10.png"><h1 class="title">Liderazgos históricos</h1>
                                </div>
                                <p>{{lidereshistoricos | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="6">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-11.png"><h1 class="title">Diputados Distritales</h1>
                                </div>
                                <p>{{diputadosdistritales | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="7">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-12.png"><h1 class="title">Alcalde Municipal</h1>
                                </div>
                                <p>{{alcaldemun | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="8">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-13.png"><h1 class="title">Partidos ganadores históricos </h1>
                                </div>
                                <p>{{partidosganadores | rmj | safe}}</p>
                            </div>

                            <div class="py-4 px-4" id="9">
                                <div class="title_distrito">
                                    <img style="width:30px;height:30px" src="/elementos/iconos_perfil/ICONO-14.png"><h1 class="title">Participación histórica de mujeres</h1>
                                </div>
                                <p>{{participacionmujeres | rmj | safe}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block body_javascripts %}
    <script>
        if (window.location.hash) {
            window.location.href = window.location.href.split('#')[0];
        }
    </script>
{% endblock %}